---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Inicio">

	<h1>Hola, soy Emerson Quispe</h1>
	<p>Bienvenido a mi portafolio. Soy un ingeniero de Software...</p>

</BaseLayout>
