---

---

<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/projects">Proyectos</a>
        <a href="/about">Sobre Mí</a>
    </nav>
</header>

<style>
    header {
        background-color: #000;
        nav {
            display: flex;
            gap: 1rem;
        }
    }
</style>